/*-------------------import-paginas-css----------------*/

@import url("./cabecalho.css");
@import url("./carrossel.css");
@import url("./departamentos.css");
@import url("./footer.css");
@import url("./link_informacao.css");
@import url("./pagamento.css");
@import url("./produtos.css");
@import url("./style.css");

/*-------------------root----------------*/

:root {
  --main-background: #232323;
  --secundary-background: #eeff49;
  --third-background: #142032;
  --main-text-color: #fff;
  --secundary-text-color: #eeff49;
  --third-text-color: #000000;
  --swiper-theme-color: rgb(168, 168, 168);
  --font-size-one: max(12px, 2.5vw);
  --font-size-two: max(14px, 3vw);
  --font-size-three: max(16, 5vw);
  --font-size-four: max(20px, 6vw);
}

/*-------------------reset-css----------------*/

* {
  border: 0;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}
